TYPO3_INSTALL_DB_PASSWORD=__SET_LOCAL_DB_PASSWORD__
TYPO3_INSTALL_ADMIN_PASSWORD=__SET_LOCAL_ADMIN_PASSWORD__
TYPO3_DB_PASSWORD=__SET_LOCAL_DB_PASSWORD__
TYPO3_SETUP_ADMIN_PASSWORD=__SET_LOCAL_ADMIN_PASSWORD__
